# Quest 2 : Shark Attacks


### Dream Team:

- <em>Karina</em>
- <em>Pollyana</em>
- <em>Salim</em>
- <em>Jules</em>

# Business

## <font color='DarkBlue'>I. <ins>Prerequisites</ins>: <font color='blue'></font>

### <font color='MediumBlue'>1 - <ins>Identifying the dataset source</ins>: <font color='violet'></font>

<ins><strong>Data Source: </strong></ins>

In [ ]:
sharks = "GSAF5.xls"

In [3]:
source = sharks

### <font color='MediumBlue'>2 - <ins> Importing libraries</ins>: <font color='violet'></font>

<strong>pandas</strong>

In [4]:
import pandas as pd
import numpy as np
import datetime as dt

### <font color='MediumBlue'>3 - <ins>  Loading the dataset into a DataFrame</ins>: <font color='violet'></font>

In [5]:
df = pd.read_excel(source)

In [6]:
pip install xlrd

Requirement already satisfied: xlrd in c:\users\rober\appdata\local\programs\python\python39\lib\site-packages (2.0.1)Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.1.1; however, version 23.3.1 is available.
You should consider upgrading via the 'c:\Users\rober\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [7]:
df = pd.read_excel(source)

In [8]:
df.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,08 Dec-2023,2023.0,Unprovoked,AUSTRALIA,Queensland,1770,Swimming,malle,20s,NaN,...,NaN,"B. Myatt, GSAF",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04 Dec-2023,2023.0,Unprovoked,BAHAMAS,New Providence Isoad,Sandals Resort,Paddle boarding,Lauren Erickson Van Wart,F,44,...,NaN,"NBC News, 12/4/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,02 Dec-2023,2023.0,Unprovoked,MEXICO,Jalisco,San Patricio Melaque,Swimming,Maria Fernandez Martinez Jimenez,F,26,...,NaN,"News Channel 21, 12/3.2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,30 Nov-2023,2023.0,Unprovoked,AUSTRALIA,Queensland,Clack Island,Swimming,Matthew Davitt,M,21,...,1.8m bull shark,"ABC Net, 11/30/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,21 Nov-2023,2023.0,Unprovoked,BAHAMAS,Grand Bahama Island,Tiger Beach,Scuba diving,female,F,47,...,NaN,"Eye Witness News, 11/22/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##  <font color='DarkBlue'>II. <ins>Exploring the Dataset</ins>: <font color='blue'></font>

### <font color='MediumBlue'>1 - <ins> Dataset Overview</ins>: <font color='violet'></font>

#### <font color='CornflowerBlue'>a) Displaying number of rows and number of columns: </font>

In [9]:
df.shape

(6947, 23)

#### <font color='CornflowerBlue'>b) Glancing at the dataset: </font>

<ins><strong>Displaying the first rows : </strong></ins>

In [10]:
df.head(5)

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,08 Dec-2023,2023.0,Unprovoked,AUSTRALIA,Queensland,1770,Swimming,malle,20s,NaN,...,NaN,"B. Myatt, GSAF",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04 Dec-2023,2023.0,Unprovoked,BAHAMAS,New Providence Isoad,Sandals Resort,Paddle boarding,Lauren Erickson Van Wart,F,44,...,NaN,"NBC News, 12/4/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,02 Dec-2023,2023.0,Unprovoked,MEXICO,Jalisco,San Patricio Melaque,Swimming,Maria Fernandez Martinez Jimenez,F,26,...,NaN,"News Channel 21, 12/3.2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,30 Nov-2023,2023.0,Unprovoked,AUSTRALIA,Queensland,Clack Island,Swimming,Matthew Davitt,M,21,...,1.8m bull shark,"ABC Net, 11/30/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,21 Nov-2023,2023.0,Unprovoked,BAHAMAS,Grand Bahama Island,Tiger Beach,Scuba diving,female,F,47,...,NaN,"Eye Witness News, 11/22/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<ins><strong>Displaying names and culumns type : </strong></ins>

In [11]:
df.dtypes

Date               object
Year              float64
Type               object
Country            object
State              object
Location           object
Activity           object
Name               object
Sex                object
Age                object
Injury             object
Unnamed: 11        object
Time               object
Species            object
Source             object
pdf                object
href formula       object
href               object
Case Number        object
Case Number.1      object
original order    float64
Unnamed: 21        object
Unnamed: 22        object
dtype: object

<ins><strong>Displaying number of unique values for each column : </strong></ins>

In [12]:
df.nunique()

Date              5983
Year               258
Type                11
Country            224
State              896
Location          4495
Activity          1585
Name              5669
Sex                  9
Age                243
Injury            4071
Unnamed: 11         12
Time               409
Species           1671
Source            5284
pdf               6789
href formula      6785
href              6776
Case Number       6777
Case Number.1     6775
original order    6797
Unnamed: 21          1
Unnamed: 22          2
dtype: int64

In [13]:
df["Unnamed: 21"].unique()

array([nan, 'stopped here'], dtype=object)

<ins><strong>Displaying number of unique values for each column that has less than 10 distinct values : </strong></ins>

In [14]:
df.nunique()[lambda x: x <= 10]

Sex            9
Unnamed: 21    1
Unnamed: 22    2
dtype: int64

#### <font color='CornflowerBlue'>c) Displaying unique values for each column that has less than 10 distinct value:</font>

In [15]:
dico = {}
for i in range(len(df.columns)):
    if df.nunique()[i] <= 10:
        dico[df.columns[i]] = df.nunique()[i]
        
for j in dico.keys():
    print(j,":",df[j].unique())

C:\Users\rober\AppData\Local\Temp\ipykernel_2388\3812802054.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if df.nunique()[i] <= 10:
C:\Users\rober\AppData\Local\Temp\ipykernel_2388\3812802054.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  dico[df.columns[i]] = df.nunique()[i]

Sex : ['20s' 'F' 'M' nan ' M' 'M ' 'lli' 'M x 2' 'N' '.']
Unnamed: 21 : [nan 'stopped here']
Unnamed: 22 : [nan 'Teramo' 'change filename']

### <font color='MediumBlue'>2 - <ins> Identifying numerical variables and their specifications</ins>: <font color='violet'></font>

<ins><strong><font color='BlueViolet'>Numerical</font></strong> **variables specifications**:</ins>

From the data types output it is safe to assume that the following columns are numerical variables: 
- **Year**: <em><font color='DarkMagenta'> float64</font></em>
- **original order**: <em><font color='DarkMagenta'> float64</font></em>

However, all remaining columns shouldn't be necessary considered as categorical variables.
Indeed, based on the name of the following columns and their values, these are numerical variables in nature:

- **Age**:<font color='red'> should be</font> <em><font color='DarkMagenta'>int</font></em>
- **Date**:<font color='red'> should be</font><em><font color='DarkMagenta'> Date</font></em>
- **Time**:<font color='red'> should be</font><em><font color='DarkMagenta'> Date</font></em>



Additionally, here are the following actions that can be suggested to "fix" some of the data discrepancies:
- Modify "Date" type and format
- Change "Year" type to int
- Deal with missing values such as "Sex"
- Address outliers (?)

#### <font color='CornflowerBlue'>a) Continuous variables: </font>

In [16]:
cont_var = []

#### <font color='CornflowerBlue'>b) Discrete variables: </font>

In [17]:
disc_var = []     # None for this dataset

#### <font color='CornflowerBlue'>c) All numerical variables: </font>

In [18]:
num_var = disc_var + cont_var

### <font color='MediumBlue'>3 - <ins> Identifying categorical variables and their specifications</ins>: <font color='violet'></font>

<strong><font color='BlueViolet'>Categorical</font></strong> **variables specification**:

- **xxx**: <ins><em><font color='DarkMagenta'>Nominal</font></em></ins>.There is no obvious order for that variable.
- **xx**:<ins><em><font color='DarkMagenta'>Nominal</font></em></ins>.There is no obvious order for that variable.
- **xxx**: <ins><em><font color='DarkMagenta'>Nominal</font></em></ins>. This is a boolean like variable with no particular order. 
- **xxx**: <ins><em><font color='DarkMagenta'>Nominal</font></em></ins>.This is a boolean like variable with no particular order.
- **xxx**: <ins><em><font color='DarkMagenta'>Ordinal</font></em></ins>.Clearly, we can order the level of education, for example by ascending order.

####  <font color='CornflowerBlue'>a) Nominal variables: </font>

In [19]:
nom_var = []

#### <font color='CornflowerBlue'>b) Ordinal variables:</font>

In [20]:
ord_var = []

####  <font color='CornflowerBlue'>c) All categorical variables:</font>

In [21]:
cat_var = nom_var + ord_var

## <font color='DarkBlue'>III. <ins>Analysing Descriptive Statistics</ins>: <font color='blue'></font>

### <font color='MediumBlue'>1 - <ins> Analysing numerical variables</ins>: <font color='violet'></font>

#### <font color='CornflowerBlue'>a) Measuring Central Tendencies: <font color='violet'></font>

#### i) <font color='ForestGreen'>Mean</font>

In [22]:
df[num_var].mean().round(2)

Series([], dtype: float64)

#### ii)  <font color='ForestGreen'>Median</font>

In [23]:
df[num_var].median()

Series([], dtype: float64)

#### iii)  <font color='ForestGreen'>Mode</font>

In [24]:
df[num_var].mode()

Empty DataFrame
Columns: []
Index: []

**Findings on central tendencies**

Based on our calculations and interpretations of central measures, we can make the following observations:

#### <font color='CornflowerBlue'>b) Measuring Dispersion:</font>

#### i) <font color='ForestGreen'>Standard Deviation</font>

In [25]:
df[num_var].std().round(2)

Series([], dtype: float64)

* **xxxx**: The Standard Deviation blablabla

#### ii) <font color='ForestGreen'>Range</font>

In [26]:
df[num_var].max() - df[num_var].min()

Series([], dtype: float64)

#### <font color='CornflowerBlue'>c)  Summarizing Statistics:</font>

#### <font color='ForestGreen'> i) Statistics Summary: count, mean, standard deviation, min, quartiles, maximum</font>

In [27]:
df[num_var].describe().round(2)

ValueError: Cannot describe a DataFrame without columns

### <font color='MediumBlue'>2 - <ins> Analysing categorical variables</ins>: <font color='violet'></font>

#### <font color='CornflowerBlue'>a) Measuring Frequency: </font>

#### <font color='ForestGreen'> i) frequency in counts</font>

In [ ]:
for k in cat_var:
    print(f"{df[k].value_counts()} \n")

#### <font color='ForestGreen'> ii) frequency in percentages</font>

In [ ]:
for k in cat_var:
    percentage = (df[k].value_counts() / df.shape[0]) * 100
    print(f"{percentage} \n ")

#### <font color='ForestGreen'> x) Cleaning Data Set </font>

In [ ]:
# Cleaning "Sex" column

df["Sex"].unique()

array(['unknown', 'F', 'M'], dtype=object)

In [32]:
df["Sex"] = df["Sex"].str.replace(" ", "").str.replace("Mx2", "M")

In [33]:
df["Sex"] = df["Sex"].apply(lambda x: x if (x =='F' or  x =='M') else "unknown")

In [45]:
df["Sex"].value_counts()

Sex
M          5565
F           773
unknown     585
Name: count, dtype: int64

In [ ]:
del df["Unnamed: 21"] # deleting empty col

In [36]:
del df["Unnamed: 22"] # deleting empty col

In [37]:
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Unnamed: 11', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order'],
      dtype='object')

In [47]:
df.drop_duplicates(inplace=True) #  deleting empty lines
df.shape

(6923, 21)

In [ ]:
df